.contents_wrapper {
  width: 90%;
  margin: 1em auto;
}

.checkarea_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 1em auto;
}

.graphbox_wrapper {
  width: 100%;
  min-height: 60vh;
  height: 60vh;
}

.checkcomment_wrapper {
  width: 80%;
  background-color: #eee;
  position: relative;
  margin: 1em auto;
  padding: 2em;
}
